*{
    box-sizing: border-box;
}

.Akan-name{
    background-image: url(/images/MainAfrica1.jpg);
    min-height: 150%;
    width: 300%;
    /* height: auto; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  